services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: node-api-backend
    volumes:
      - ./src:/app/src
      - ./package.json:/app/package.json
      - ./output:/app/output
      - ./resources:/app/resources
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - TZ=America/Sao_Paulo
